<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <div class="container">
            <div th:replace="fragments/bodyHeader :: bodyHeader" />
            <div class="jumbotron">
                <h1>HELLO SHOP</h1>
                <p class="lead">User</p>
                <p>
                    <a class="btn btn-lg btn-secondary" href="/members/new">Register</a>
                    <a class="btn btn-lg btn-secondary" href="/members">List of User</a>
                </p>
                <p class="lead">Items</p>
                <p>
                    <a class="btn btn-lg btn-dark" href="/items/new">Register Items</a>
                    <a class="btn btn-lg btn-dark" href="/items">List of Items</a>
                </p>
                <p class="lead">Orders</p>
                <p>
                    <a class="btn btn-lg btn-info" href="/order">Order Items</a>
                    <a class="btn btn-lg btn-info" href="/orders">List of Orders</a>
                </p>
            </div>
            <div th:replace="fragments/footer :: footer" />
        </div> <!-- /container -->
    </body>
</html>